[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = ">=0.5"
kymatio = {editable = true, path = "./kymatio"}
numpy = ">=1.24"
soundfile = "*"
torch = ">=2.0"

[dev-packages]
flake8 = "*"
flake8-commas = "*"
flake8-quotes = "*"
mypy = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python resynthesise.py"
test = "sh ./test/test.sh"
